body {
  font-family: sans-serif;
  margin: 0;
}

.my-header {
  z-index: 999;
  background-color: #433A3F !important;
  border-color: #433A3F !important;
  position: absolute;
}

.header-text {
  color: #fffefe !important;
}

.cube1 {
  color: #DF57BC !important;
}

.cube2 {
  color: #4CE0B3 !important;
}

.cube3 {
  color: #F4D35E !important;
}

.cube4 {
  color: #ED6A5E !important;
}

.letters-content{
  display: flow-root;
  justify-content: center;
  padding: 10%;
}
.letters-div{
  width: 70px;
  color: #fffefe;
  display: inline-block;
  font-size: 40px;
  text-align: center;
}

.letter1{
  background-color: #DF57BC;
}

.letter2{
  background-color: #4CE0B3;
}

.letter3{
  background-color: #F4D35E;
}

.letter0{
  background-color: #ED6A5E;
}

.word{
  display: flex;
  justify-content: center;
  margin: 20px
}

#login-buttons-password, .login-button{
  background: #433A3F !important; 
}

.login-link-text{
  color:  #fffefe;
  text-transform: uppercase;
}
.login-close-text:hover, .login-link-text:hover{
  color: #F4D35E
}