body {
  font-family: sans-serif;
  margin: 0;
}

.my-header {
  z-index: 999;
  background-color: #433A3F !important;
  border-color: #433A3F !important;
  position: absolute;
}

.header-text {
  color: #fffefe !important;
}

.cube1 {
  color: #DF57BC !important;
}

.cube2 {
  color: #4CE0B3 !important;
}

.cube3 {
  color: #F4D35E !important;
}

.cube4 {
  color: #ED6A5E !important;
}

.letters-content {
  display: flow-root;
  justify-content: center;
  padding: 8%;
}

.letters-div {
  width: 70px;
  color: #fffefe;
  display: inline-block;
  font-size: 40px;
  text-align: center;
}

.letter1 {
  background-color: #DF57BC;
}

.letter2 {
  background-color: #4CE0B3;
}

.letter3 {
  background-color: #F4D35E;
}

.letter0 {
  background-color: #ED6A5E;
}

.word {
  display: flex;
  justify-content: center;
  margin: 20px
}

#login-buttons-password,
.login-button {
  background: #433A3F !important;
}

.login-link-text {
  color: #fffefe;
  text-transform: uppercase;
}

.login-close-text:hover,
.login-link-text:hover {
  color: #F4D35E
}

/* Stats char */

.chart {
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 10px;
  width: 60%;
  max-width: 96%;
  height: 50vh;
  max-height: 1000px;
  border-bottom: 5px solid #ED6A5E;
}

.bar {
  grid-row-end: 102;
  position: relative;
  background: #4CE0B3;
  border-radius: 5px 5px 0 0;
}

.bar-percent {
  position: relative;
  top: -20px;
  text-align: center;
}

.bar-name {
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  bottom: -99%;
  left: 25%;
  padding-top: 20px;
  text-align: center;
}

/* Other Styles*/

* {
  box-sizing: border-box;
  margin: 0;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  font-family: Merriweather;
  font-weight: bold;
  color: #555;
  width: 50%;
  padding-right: 10%;
}

.container1 {
  float: left;
  width: 50%;
  min-height: 100%;
  padding: 3% 10%;
}

.game {
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  background: white;
  border: 2px solid #DF57BC;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.newGame-btt {
  border: 2px solid #4CE0B3 !important;
}

ul {
  list-style: none;
  padding: 0px;
}

.legend1 {
  text-align: center;
  max-height: 80%;
  overflow: auto;
}

.join {
  height: 100%;
}

.board-square {
  width: 50px;
  height: 50px;
  background: white;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
}


.board-line-vertical {
  width: 10px;
  height: 50px;
  background: gray;
}

.board-line-horizontal {
  width: 50px;
  height: 10px;
  background: gray;
}

.board-space {
  width: 10px;
  height: 10px;
  background: white;
}

.board-row-odd {
  display: inline-flex;
  min-width: 370px;
  min-height: 50px;
}

.board-row-even {
  display: inline-flex;
  min-width: 370px;
  min-height: 10px;
}

.board {
  display: block;
  width: 370px;
  height: 370px;
  font-size: 1px;
  margin: auto;
}

.board-color-none {
  background: gray;
}

.board-color-p1 {
  background: #ED6A5E;
}

.board-color-p2 {
  background: #4CE0B3;
}